:root {}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: gray;
}

nav {
    background: yellow;
    color: black;
    height: 85px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 0;



}

h1 {
    margin: 0;
    padding-top: 20px;
}

.home {
    height: 800px;
    background: linear-gradient(gray, black);
    background-repeat: no-repeat;
}

.home h1 {
    margin: 150px;
}

.home h1,
h2 {

    text-align: center;
    font-size: 60px;
    color: white
}

/*
aside {
    width: 25%;
    height: 100%;
    float: right;
    background: lightgreen;
}*/

.container-1 {
    background: lightgoldenrodyellow;
    height: 1000px;
}

.categ {
    background: white;
    width: 585px;
    text-align: center;
    padding: 5px;
    margin-top: 25px;
    border-radius: 15px;
    border-color: #444;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.cards {
    padding: 30px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 30px;
}

.card {
    background: #444;
    height: 440px;
    width: 250px;

    border-radius: 15px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;

}

.card img {
    border-radius: 15px;
    margin-top: 5px;
    width: 95%;
    height: 340px;
}

.linha {
    height: 25px;
    background: yellow;
}